:root {
	background-color: #000;
}

body {
	background-color: #000;
}

#console {
	font-family: Courier, monospace;
	color: #fff;
	width: 750px;
	margin: 100px auto 0;
	font-size: 14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
	animation: change 1s;
}

#op {
	color: #888888;
}

@keyframes change {
	0% { color: #0f0; }
	50% { color: #0f0; }
	99% { color: #000; }
}
